{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/Logo.png' %}">
    <!-- Bootstrap CSS (librerias)-->
    <title>LBWUS</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'alumnos/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'alumnos/style/estilo.css' %}">
    <script src="{% static 'alumnos/js/bootstrap.min.js' %}"></script>
    
</head>

<body>
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand me-auto" href="#">
                {% load static %}
                <img src="{% static 'alumnos/img/Logo.png' %}" alt="Logo" width="50px" class="d-inline-block align-text-top">                
                LBWUS</a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">LBWUS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2 active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'planes' %}">Planes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'servicios' %}">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'nosotros' %}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'contactos' %}">Contactos</a>
                        </li>                        
                    </ul>
                </div>
            </div>
            <a href="" class="registrarse-button btn btn-primary">Registrarse</a>
            <a href="{% url 'opcion_user' %}"class="login-button btn btn-secondary">Iniciar</a>
            <!-- Botón para cambiar el tema con iconos -->
            <button onclick="toggleTheme()" id="theme-toggler" class="btn btn-outline-light ms-2">
                <i class="bi bi-sun"></i>  <!-- Icono predeterminado para el tema claro -->
            </button>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>    
<!--End Navbar-->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'alumnos/java/main.js' %}"></script>
<script src="{% static 'alumnos/java/jquery.js' %}"></script>
<script
src="https://kit.fontawesome.com/81581fb069.js"
crossorigin="anonymous"
></script>
</body>
</html>