{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'alumnos/img/Logo.png' %}">
    <!-- Bootstrap CSS (librerias)-->
    <title>LBWUS</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'alumnos/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'alumnos/style/estilo.css' %}">
    <script src="{% static 'alumnos/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand me-auto" href="#">
                <img src="{% static 'alumnos/img/Logo.png' %}" alt="Logo" width="50px"
                    class="d-inline-block align-text-top">
                LBWUS
            </a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">LBWUS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2 active" aria-current="page" href="{% url 'menu' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'planes_adm' %}">Planes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'crud' %}">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'nosotros_adm' %}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'contactos_adm' %}">Contactos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {% if user.is_authenticated %}
                                {{ user.username }}
                                {% else %}
                                Login
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                                {% if user.is_authenticated %}
                                <!-- Enlace de cierre de sesión utilizando un formulario -->
                                <a class="dropdown-item" href="#"
                                    onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Cerrar
                                    sesión</a>
                                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                                    {% csrf_token %}
                                </form>
                                {% else %}
                                <a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a>
                                {% endif %}
                            </div>
                        </li>

                        <!-- Botón para cambiar el tema con iconos -->
                        <button onclick="toggleTheme()" id="theme-toggler" class="btn btn-outline-light ms-2">
                            <i class="bi bi-sun"></i> <!-- Icono predeterminado para el tema claro -->
                        </button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                </div>
    </nav>
    <!--End Navbar-->
    <h1>Lista de Alumnos</h1>
    <div id="idMensajes">
        {% if mensaje %}
        <div>{{ mensaje }}</div>
        {% endif %}
    </div>
    <button type="button">
        <a href="{% url 'alumnos_Add' %}">Agregar</a>
    </button>
    <table>
        {% if alumnos %}
        <thead>
            <tr>
                <th>Nombre</th>
                <th>RUT</th>
                <th>Nivel de Educación</th>
                <th>Dirección</th>
                <th>Fecha de Nacimiento</th>
                <th>Correo Electrónico</th>
                <th>Teléfono</th>
                <th>Género</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.rut }}</td>
                <td>{{ alumno.get_nivel_educacion_display }}</td>
                <td>{{ alumno.direccion }}</td>
                <td>{{ alumno.fecha_nacimiento }}</td>
                <td>{{ alumno.correo_electronico }}</td>
                <td>{{ alumno.telefono }}</td>
                <td>{{ alumno.genero.descripcion }}</td>
                <td>
                    <a href="{% url 'alumnos_del' pk=alumno.id_alumno%}">Eliminar</a>
                    <a href="{% url 'alumnos_findEdit' pk=alumno.id_alumno%}">Modificar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
    <!--Inicio Footer-->
    <footer class="footer">
        <div class="container container-footer">
            <div class="menu-footer">
                <div class="contact-info">
                    <p class="title-footer">Información de Contacto</p>
                    <ul>
                        <li class="infocontact">
                            Dirección: Pacifico Norte 123 <br> Vernon Rockville, CT 06066
                        </li>
                        <li>Teléfono: 123-456-7890</li>
                        <li>Email: teachers@lbwus.cl</li>
                    </ul>
                    <div class="social-icons">
                        <span class="facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </span>
                        <span class="twitter">
                            <i class="fa-brands fa-twitter"></i>
                        </span>
                        <span class="youtube">
                            <i class="fa-brands fa-youtube"></i>
                        </span>
                        <span class="pinterest">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </span>
                        <span class="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </span>
                    </div>
                </div>
                <div class="information">
                    <p class="title-footer">Información</p>
                    <ul class="infofo">
                        <li><a href="#">Acerca de Nosotros</a></li>
                        <li><a href="#">Estado de tus contrataciones</a></li>
                        <li><a href="#">Políticas de Privacidad</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                        <li><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="my-account">
                    <p class="title-footer">Mi cuenta</p>
                    <ul class="mi-cuenta">
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a href="#">Historial de órdenes</a></li>
                        <li><a href="#">Lista de deseos</a></li>
                        <li><a href="#">Boletín</a></li>
                        <li><a href="#">Reembolsos</a></li>
                    </ul>
                </div>
                <div class="newsletter">
                    <p class="title-footer">Boletín informativo</p>
                    <div class="content">
                        <p>
                            Suscríbete a nuestros boletines ahora y mantente al día con nuevas colecciones y ofertas
                            exclusivas.
                        </p>
                        <input type="email" placeholder="Ingresa el correo aquí...">
                        <button>Suscríbete</button>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>
                    Desarrollando enseñanza para el mundo &copy; 2024
                </p>
            </div>
        </div>
    </footer>
    <!--Fin Footer-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'java/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>
</body>

</html>